<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update Student</title>
  </head>
  <body>
    <h2>Update student</h2>
    <form method="post">
      {%csrf_token%}
      <table>
        {{form.as_table}}
      </table>
      <!-- <br>First Name:<input type="text" name="firstName" value="{{student.firstName}}"></br> -->
      <!-- <br>Last Name:<input type="text" name="lastName" value="{{student.lastName}}"></br> -->
      <!-- <br>Test Score:<input type="text" name="testScore" value="{{student.testScore}}"></br> -->
      <br><input type="submit" value="Update"></br>
    </form>
  </body>
</html>
