<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>First template</title>
  <link ref = "stylesheet" href="{% static 'css/emp.css' %}"
</head>
  <body>
    <h1> Hey Suthi fellow Srinivas </h1>
    
    <!-- <h1> Employee Details !!!!! </h1> -->
    <!-- <br>Emp_ID : {{Emp_id}}</br> -->
    <!-- <br>Name   : {{name}}</br> -->
    <!-- <br>Salary : {{Sal}}</br> -->
    <img src = "{% static 'images/teddy.jpg' %}"
     <ol>
        <li>Emp_ID : {{Emp_id}}</li>
        <li>Name   : {{name}}</li>
        <li>Salary : {{Sal}}</li>
      <ol>

  </body>
</html>
